[Unit]
Description=Docker Compose Canto Node Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/root/docker-canto
Environment=COMPOSE_PROFILES=proxy,monitoring
ExecStartPre=/usr/bin/docker compose down --remove-orphans
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0
Restart=always
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
